@model IEnumerable<CinemaS.Models.MembershipRank>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequirePoint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PointReturnTicket)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PointReturnCombo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriorityLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequirePoint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointReturnTicket)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointReturnCombo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriorityLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MembershipRankId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MembershipRankId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MembershipRankId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
